* {
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman';
}

body {
    background-color: black;
    color: white;
    text-align: center;
    transition: 0.4s;
    animation: fadeIn 1s ease-in;
}

html {
    scroll-behavior: smooth; 
}

 nav {
    position: fixed;
    top: 20px;
    left: 50%;  
    height: 50px;
    transform: translateX(-50%);
    background: rgba(0, 0, 0);
    border: 2px solid rgb(233, 69, 14);
    border-radius: 40px;
    display: flex;
    gap: 15px;
    z-index: 9999;
    align-items: center;
    align-items: center;
    backdrop-filter: blur(12px);
 }

 nav a {
     color: #fff;
     text-decoration: none;
     font-size: 1rem;
     transition: 0.3s; 
 }

nav a:hover {
     color: rgb(233, 69, 14);
 }

a {
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    margin: 25px;
    color: #fff;
}

.img-container {
    margin-top: 50px;
    height: 30vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.profilepic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10%;
    border: 3px solid rgb(168, 80, 50);
}

.head {
    margin-top: 70px;
}

.project {
    border: 2px solid rgb(168, 80, 50);
    color: white;
    border-radius: 0.9em;
    width: 100px;
    height: 30px;
    background-color: black;
}

.Resume {
    border: 2px solid rgb(168, 80, 50);
    color: white;
    border-radius: 0.9em;
    width: 100px;
    height: 30px;
    background-color: black;
}

.project:hover {
    background-color: rgb(121, 50, 27);
}

.Resume:hover {
    background-color: rgb(121, 50, 27);
}

#about-content {
    text-align: center;
    font-size: larger;
    font-weight: 800;
    margin: 5%;
    font-family: 'Times New Roman';
}

section {
    scroll-margin-top: 100px;
}

#education {
    min-height: 100hv;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    text-shadow: none;
}
