* {
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman';
}

body {
    background-color: black;
    color: white;
    text-align: center;
    transition: 0.4s;
    animation: fadeIn 1s ease-in;
}

html {
    scroll-behavior: smooth; 
}

 nav {
    position: fixed;
    top: 20px;
    left: 50%;  
    height: 50px;
    transform: translateX(-50%);
    background: rgba(0, 0, 0);
    border: 2px solid rgb(233, 69, 14);
    border-radius: 40px;
    display: flex;
    gap: 15px;
    z-index: 9999;
    
 }
